<div class="container-fluid">
    <div class="row margin-top">
        <div class="col-md-8 col-xs-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    <div class="float-left">
                        <a href="/admin/campaigns"><i class="fas fa-chevron-left"></i> <b>Campaign</b></a>
                        {{campaign.name}}
                    </div>
                    <div class="float-right">
                        <a href="/admin/campaigns/new"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="campaign_name" id="campaign_name" class="form-control" value="{{campaign.name}}">
                                    <label for="campaign_name">Campaign Name <small>*</small></label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="campaign_title" id="campaign_title" class="form-control" value="{{campaign.title}}">
                                    <label for="campaign_title">Campaign Title <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" class="form-control" name="start_time" id="start_time" value="{{campaign.start_timestamp}}">
                                    <label for="start_time">Start Time <small>*</small></label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="end_time" id="end_time" class="form-control" value="{{campaign.end_timestamp}}">
                                    <label for="end_time">End Time <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <textarea class="md-textarea form-control" name="campaign_text" id="campaign_text" rows="5">{{campaign.content}}</textarea>
                                    <label for="campaign_text">Campaign Text <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
								<label for="campaignLocation">Location <small>*</small></label>
								{{!-- <select name="campaign_location" class="custom-select" id="campaignLocation" multiple>
                                    {{#each locations}}
									<option value="{{id}}">{{name}} ({{type}})</option>
                                    {{/each}}
								</select> --}}
                                <input type="text" data-data="{{locations}}" name="location" id="locations">
                            </div>
                            <div class="col">
                                <input type="text" name="pretags" id="preTags">
                                <label for="preTags">Tags</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="md-form">
                                    <input type="text" name="action" id="action" class="form-control" value="{{c.action}}">
                                    <label for="action">Action <small>*</small></label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-light-blue">Create Campaign</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12">
            <div class="card shadow">
                <div class="card-header">
                    Campaign Edit Action
                </div>
            </div>
        </div>
    </div>
</div>
<script>
//$('#start_time').bootstrapMaterialDatePicker({ weekStart : 0, minDate: new Date(), format : 'YYYY-MM-DD HH:mm' });
$('#end_time').bootstrapMaterialDatePicker({ format: 'YYYY-MM-DD HH:mm'});
$('#start_time').bootstrapMaterialDatePicker({ weekStart : 0, minDate: new Date(), format : 'YYYY-MM-DD HH:mm' }).on('change', function(e, date){
    $('#end_time').bootstrapMaterialDatePicker('setMinDate', date);
    $('#end_time').bootstrapMaterialDatePicker('setFormat', 'YYYY-MM-DD HH:mm');
}); 
$('#preTags').selectize({plugins:['drag_drop'],delimiter: ',',persist: false,create: function(input) {return {value: input,text: input}},onDelete:function(value){return '';}});
$('#locations').selectize({plugins:['drag_drop'],delimiter: ',',persist: false,create: function(input) {return {value: input,text: input}},onDelete:function(value){return '';}});
</script>