<div class="container-fluid">
	<h1 class="h3 mb-2 text-gray-800">Users</h1>
	<p class="mb-4">App user list</p>

	{{!-- TABLES --}}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">User Tables</h6>
		</div>
		{{#if user.superadmin}}
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Username</th>
							<th>Email</th>
							<th>Active</th>
							<th>Created At</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Username</th>
							<th>Email</th>
							<th>Active</th>
							<th>Created At</th>
						</tr>
					</tfoot>
					<tbody>
						{{#each adminuser}}
							<tr>
								<td>{{name}}</td>
								<td>{{username}}</td>
								<td>{{email}}</td>
								<td>{{active}}</td>
								<td>{{createdAt}}</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		{{else}}
		<p class="mb-4">Only for SuperAdmins</p>
		{{/if}}
	</div>
</div>