<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-xs-12 box-m mb-4">
            <div class="card shadow margin-top">
                <div class="card-header">Manage Applications</div>
                <div class="card-body">
                    <table id="applications" class="table table-striped table-bordered table-sm bs-select">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Sr No</th>
                                <th scope="col">Name</th>
                                <th scope="col">API KEY</th>
                                <th scope="col">API SECRET</th>
                                <th scope="col">App Link</th>
                                <th scope="col">Category</th>
                                <th scope="col">Production</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each application}}
                                <tr class="text-center">
                                    <td>{{ inc @index}}</td>
                                    <td>{{name}}</td>
                                    <td data-toggle="tooltip" data-placement="bottom" title="{{API_KEY}}">{{ hide API_KEY}}</td>
                                    <td data-toggle="tooltip" data-placement="bottom" title="{{API_SECRET}}">{{ hide API_SECRET}}</td>
                                    <td><a style="color: #007bff;" href="{{url}}">App Url</a></td>
                                    <td>{{category}}</td>
                                    <td>
                                        {{#if production}}
                                        <i style="color: #388E3C" class="fas fa-circle"></i>
                                        {{else}}
                                        <i style="color: #d32f2f" class="fas fa-circle"></i>
                                        {{/if}}
                                    </td>
                                    <td>
                                        {{!-- EDIT --}}
                                        <a style="margin-right: 5px;" href="#"><i class="fas fa-edit"></i></a>
                                        {{!-- END EDIT --}}
                                        {{!-- ACTIVATE --}}
                                        {{#if cactive}}
                                        <a style="margin-right: 5px;" href="/admin/api/app/cdeactivate/{{id}}"><i class="fas fa-bell-slash"></i></a>
                                        {{else}}
                                        <a style="margin-right: 5px;" href="/admin/api/app/cactivate/{{id}}"><i class="fas fa-bell"></i></a>
                                        {{/if}}
                                        {{!-- END ACTIVATE --}}
                                        {{!-- DELETE --}}
                                        <a style="margin-right: 5px;" href="#"><i class="fas fa-trash-alt"></i></a>
                                        {{!-- END DELETE --}}
                                    </td>
                                    {{!-- <td><a href="#"><i class="fas fa-edit"></i></a></td>
                                    {{#if cactive}}
                                    <td><a href="/admin/api/app/cdeactivate/{{id}}"><i class="fas fa-bell-slash"></i></a></td>
                                    {{else}}
                                    <td><a href="/admin/api/app/cactivate/{{id}}"><i class="fas fa-bell"></i></a></td>
                                    {{/if}}
                                    <td><a href="#"><i class="fas fa-trash-alt"></i></a></td> --}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="card shadow margin-top">
                <div class="card-header">Help</div>
                <div class="card-body text-center">
                    Manage all Applications
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#applications').DataTable();
    $('.dataTables_length').addClass('bs-select');
    $('.dataTables_filter input').addClass('form-control');
    $('.dataTables_filter input').addClass('form-control-sm');
    $('.paginate_button').addClass('page-item');
    $('.paginate_button').addClass('active');
});
</script>