<div class="container-fluid">
	<h1 class="h3 mb-2 text-gray-800">Locations Master</h1>
	<p class="mb-4">Location Master list</p>

	{{!-- TABLES --}}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Location Master Tables</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered table-dark" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr class="text-center">
							<th>Sr No</th>
							<th>Name</th>
							<th>Type</th>
							<th>Edit Action</th>
							<th>Delete Action</th>
						</tr>
					</thead>
					<tbody>
						{{#each locations}}
							<tr class="text-center">
								<td>{{@index}}</td>
								<td>{{name}}</td>
								<td>{{type}}</td>
                                <td><a href="/admin/home/location/edit/{{id}}" class="btn btn-warning">Edit</a></td>
                                <td><a href="/admin/api/location/delete/{{id}}" class="btn btn-danger">Delete</a></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>