<div class="container-fluid">
	<h1 class="h3 mb-2 text-gray-800">Users</h1>
	<p class="mb-4">App user list</p>

	{{!-- TABLES --}}
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">User Tables</h6>
		</div>
		{{#if user.superadmin}}
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Name</th>
							<th>Username</th>
							<th>Email</th>
							{{!-- <th>Active</th>
							<th>SuperAdmin</th> --}}
							<th>App</th>
							<th>Activate</th>
							<th>Make Superadmin</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Username</th>
							<th>Email</th>
							{{!-- <th>Active</th>
							<th>SuperAdmin</th> --}}
							<th>App</th>
							<th>Activate</th>
							<th>Make Superadmin</th>
							<th>Delete</th>
						</tr>
					</tfoot>
					<tbody>
						{{#each adminuser}}
							<tr>
								<td>{{name}}</td>
								<td>{{username}}</td>
								<td>{{email}}</td>
								{{!-- <td class="text-center">{{active}}</td>
								<td class="text-center">{{superadmin}}</td> --}}
								<td>{{application.name}}</td>
								{{#if active}}
									<td class="text-center">
										<a href="/admin/api/user/deactivate/{{id}}" class="btn btn-success btn-circle">
											<i class="fas fa-check"></i>
										</a>
									</td>
								{{else}}
									<td class="text-center">
										<a href="/admin/api/user/activate/{{id}}" class="btn btn-danger btn-circle">
											<i class="fas fa-times"></i>
										</a>
									</td>
								{{/if}}
								{{#if superadmin}}
									<td class="text-center">
										<a href="/admin/api/user/rmsu/{{id}}" class="btn btn-success btn-circle">
											<i class="fas fa-check"></i>
										</a>
									</td>
								{{else}}
									<td class="text-center">
										<a href="/admin/api/user/mksu/{{id}}" class="btn btn-danger btn-circle">
											<i class="fas fa-times"></i>
										</a>
									</td>
								{{/if}}
								<td>
									<a href="/admin/api/user/delete/{{id}}" class="btn btn-danger btn-circle">
										<i class="far fa-trash-alt"></i>
									</a>
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
		{{else}}
		<p class="mb-4">Only for SuperAdmins</p>
		{{/if}}
	</div>
</div>